@media (min-width: 1024px) and (max-width: 1280px){
    #directors {
        width: 44.5%;
    }
    #directors_vertical {
        left: 13%;
    }
    .CEO {
        margin-left: 12%;
    }
    #CEO_vertical {
        left: 59.5%;
    }
    #CEO_horizontal {
        width: 38.5%;
    }
    .board_child {
        left: 10%;
    }
    #CMO_horizontal {
        left: 56.3%;
    }
    #CEO_horizontal {
        left: 38.2%;
    }
    .board_child2 {
        left: 3%;
    }
    #CRO_horizontal {
        right: -7%;
    }
    #communication_horizontal {
        right: -45%;
    }
    #public_relation_horizontal {
        right: -45%;
    }
    #tresury_horizontal {
        right: -45%;
    }
    #talent_acquisition_horizontal {
        right: -45%;
    }
    #CMO_vertical {
        width: 101.5%;
        left: 8.5%;
    }
    #CRO_vertical {
        width: 102%;
        left: -8.5%;
    }
}
@media (min-width: 1281px) and (max-width: 1366px){
    #directors {
        left: 19%;
    }
    #directors_vertical {
        left: 13%;
    }
    #CEO_vertical {
        left: 57.5%;
    }
    #CEO_horizontal {
        left: 38%;
        width: 38%;
    }
    .board_child {
        left: 12%;
    }
    .board_child2 {
        left: -2%;
    }
    #CMO_horizontal {
        left: 55.3%;
    }
    #CMO_vertical {
        width: 101.5%;
        left: 4%;
    }
    #CRO_horizontal {
        right: 0%;
    }
    #CRO_vertical {
        left: -12.7%;
    }
    #communication_horizontal {
        right: -40%;
    }
    #public_relation_horizontal {
        right: -40%;
    }
    #tresury_horizontal {
        right: -40%;
    }
    #talent_acquisition_horizontal {
        right: -40%;
    }
}
@media (min-width: 1367px) and (max-width: 1400px){
    #directors {
        left: 19%;
    }
    #directors_vertical {
        left: 13%;
    }
    #CEO_vertical {
        left: 57.5%;
    }
    #CEO_horizontal {
        left: 38%;
        width: 38%;
    }
    .board_child {
        left: 12%;
    }
    .board_child2 {
        left: -2%;
    }
    #CMO_horizontal {
        left: 55.3%;
    }
    #CMO_vertical {
        width: 101.5%;
        left: 4%;
    }
    #CRO_horizontal {
        right: 0%;
    }
    #CRO_vertical {
        left: -12.7%;
    }
    #communication_horizontal {
        right: -40%;
    }
    #public_relation_horizontal {
        right: -40%;
    }
    #tresury_horizontal {
        right: -40%;
    }
    #talent_acquisition_horizontal {
        right: -40%;
    }
}
@media (min-width: 1890px) and (max-width: 1930px){
    #directors {
        width: 37.5%;
    }
    #directors_vertical {
        left: 10%;
    }
    .CEO {
        margin-left: 3%;
    }
    #CEO_vertical {
        left: 52.5%;
    }
    #CEO_horizontal {
        left: 32.4%;
        width: 37.1%;
    }
    .board_child {
        left: -1%;
    }
    .board_child2 {
        left: -16%;
    }
    #CMO_horizontal {
        left: 31.3%;
    }
    #CMO_vertical {
        width: 101.6%;
        left: -20.5%;
    }
    #CRO_horizontal {
        right: 45%;
    }
    #CRO_vertical {
        width: 101.5%;
        left: -37.6%;
    }
    #communication_horizontal {
        right: -12%;
    }
    #public_relation_horizontal {
        right: -12%;
    }
    #tresury_horizontal {
        right: -12%;
    }
    #talent_acquisition_horizontal {
        right: -12%;
    }
}